@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root,
body {
    font-family: 'Manrope', monospace !important;
}

.navbar-center {
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
}

.carousel-item>img {
    filter: brightness(.7);
}

img {
    object-fit: cover;
}

.justify {
    text-align: justify;
}