

a.nav__btn__circle:hover,
a.nav__btn__kite:hover,
.workbtn:hover,
.skills__btn2:hover,
.skills__btn:hover,
.bgcircle:hover,
a.nav__btn__circle:active,
a.nav__btn__kite:active,
a.nav__btn__home:active,
.workbtn:active,
.skills__btn2:active,
.skills__btn:active,
.bgcircle:active {
 
  transition: all 0.3s;
  transition-timing-function: ease-in-out;

  background-color: #a4161a;
  box-shadow: -1px -1px 2px rgba(74, 78, 83, 0.5), 1px 1px 3px rgba(35, 37, 39, 0.8), 4px 4px 15px rgba(35, 37, 39, 0.9), -3px -3px 10px rgba(74, 78, 83, 0.7);
}

.last:hover {
  border: 5px solid #E7EBF0 ;

}

.abtme__btn.btn__indent:hover {
  background: #292D34;
  box-shadow: -1px -1px 2px rgba(74, 78, 83, 0.5), 1px 1px 3px rgba(35, 37, 39, 0.8), 4px 4px 15px rgba(35, 37, 39, 0.9), -3px -3px 10px rgba(74, 78, 83, 0.7);
}

.iconify:hover:not(div.steps > .iconify, .bgcircle
    > .iconify, .last, div.abtme__btn > *, *.btn__selector
    > *, .reset__transform > .iconify, .btn__selector
    > a
    > *.iconify, .skills__btn > *.iconify, .skills__btn2 > *.iconify) {
      background-color: rgba(238, 238, 238, 0.15) !important ;

}

.services__slice:hover {
  border: 4px outset RGBA(164, 22, 26, .6) ;

}


.btn__indent {
  box-shadow: inset 2px 2px 5px #1f2227,
              inset -2px -2px 5px #333841;
}

.btn__outdent{
  background: #a4161a !important;

box-shadow:  5px 5px 10px #22252b,
             -5px -5px 10px #30353d;
}
.skill__meter {
  border: 0px outset #a4161a;
}

.bgcircle {
  background-color: #292D34 ;
}

#nav__arrow {
  background-color: #E7EBF0 ;

}

.imgShadow{
  box-shadow: 0px 0px 30px 9px #a4161a;
}

.nav__btn__circle {
  background-color: #292D34;
}

.nav__btn__kite {
  background-color: #292D34;

}
.theme__btn__on,
.lang__btn__on {
  background-color: #a4161a;
}
.btn__selector {
  background-color: #292D34;
box-shadow: 3.73381px 3.73381px 6.22302px rgba(0, 0, 0, 0.5);
}
.blue {
  color: #a4161a;
}
.red {
  color: #a4161a;
}
.blueBg {
  background-color: #a4161a;
}
.light {
  background-color: #292D34;
}
.redBg {
  background-color: #a4161a;
}
.txtwhite {
  color: #292D34;
  
}
.txtdark {
  color: #e7ebf0;
}
