
/* #region 🦔general css🦔*/

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
section:first-of-type {
  min-height: 1080px;
}
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: "Shabnam", sans-serif;
  height: 2160px;
  box-sizing: border-box;
}
html,
body {
  color: #E7EBF0;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  width: 100%;
}
section {
  padding: 40px 170px;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 1000px;
}
footer {
  padding: 20px 170px;
  flex-flow: wrap row;
}
nav {
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-height: 800px;
  width: 170px;
  min-width: 104px;
  text-align: center;
  align-items: center;
}
span.skillprbar > span {
  margin-right: 20px;
}
p {
  padding: 0px;
  margin: 0px;
}
 a.nav__btn__circle:hover,
a.nav__btn__kite:hover,
a.nav__btn__home:hover,
.skills__btn2:hover,
.workbtn:hover {
  padding: 5px;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;

  background-color: #a4161a;
  box-shadow: -1px -1px 2px rgba(74, 78, 83, 0.5), 1px 1px 3px rgba(35, 37, 39, 0.8), 4px 4px 15px rgba(35, 37, 39, 0.9), -3px -3px 10px rgba(74, 78, 83, 0.7);
}

.last:hover {
  width: 160px;
  height: 160px;
  border: 5px solid #292D34 ;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}

div.skills__btn > span:only-of-type,
div.skills__btn2 > span:only-of-type {
  font-size: 16px;
}
.abtme__btn:hover {

  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  background: #2D3135;
  box-shadow: -1px -1px 2px rgba(74, 78, 83, 0.5), 1px 1px 3px rgba(35, 37, 39, 0.8), 4px 4px 15px rgba(35, 37, 39, 0.9), -3px -3px 10px rgba(74, 78, 83, 0.7);
}
.btn__selector {
  background-color: #2D3135;
  margin-right: 5px;
  box-shadow: 3.73381px 3.73381px 6.22302px rgba(0, 0, 0, 0.5);
  height: 38px;
  width: 38px;
}
.justify {
  line-height: 28px;
  text-align: justify;
  text-justify: inter-word;
}
.aboutme__card {
  padding-right: 40px;
  padding-left: 40px;
  height: 580px;
  width: 852px;
  align-items: center;
}
.logo {
  margin-top: 10px;
  width: 100%;
}
.nobrightness{
  filter: brightness(100%);
}
.flip {
  transform: rotate(180deg);
  transform: rotateY(180deg);
}

.iconify:hover:not(.bgcircle>.iconify,.last, div.abtme__btn > *, *.btn__selector > *) {
  background-color: rgba(238, 238, 238, 0.15) !important ;
  border-radius: 10px;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.steps:hover {
  padding: 2% 2%;
  border-radius: 15px;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.services__slice:hover {
  width: 560px;
  height: 325px;
  border: 4px outset RGBA(164, 22, 26, .6) ;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.circle__border {
  cursor: pointer;
  border-radius: 50%;
}
.bgcircle:hover{
  background: linear-gradient(317.7deg, RGBA(164, 22, 26, 0.6) 0%, rgba(255, 255, 255, 0.05) 105.18%), RGBA(164, 22, 26, .8);
  box-shadow: -1px -1px 2px rgba(74, 78, 83, 0.5), 1px 1px 3px rgba(35, 37, 39, 0.8), 4px 4px 15px rgba(35, 37, 39, 0.9), -3px -3px 10px rgba(74, 78, 83, 0.7);
}
.skill__meter:hover {
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  width: 300px;
  height: 250px;
  border-radius: 15px;

}
.iconify {
  padding: 2%;
}
.tr {
  background-size: cover;

  background-image: url(/images/slice3.png);
  border-radius: 5px 80px 5px 5px;
}
.tl {
  background-size: cover;

  background-image: url(/images/slice1.png);
  border-radius: 80px 5px 5px 5px;
}
.br {
  background-size: cover;

  background-image: url(/images/slice6.png);
  border-radius: 5px 5px 80px 5px;
}
.bl {
  background-size: cover;

  background-image: url(/images/slice4.png);
  border-radius: 5px 5px 5px 80px;
}
.um {
  background-size: cover;

  background-image: url(/images/slice2.png);
}
.lm {
  background-size: cover;

  background-image: url(/images/slice5.png);
}
.smooth {
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.reset__transform {
  transform: rotate(0deg) !important;
}

.arched2 {
  margin-right: -30px;
}
.arched3 {
  margin-right: -50px;
}
.arched4 {
  margin-left: -30px;
}

.btn__indent {
  box-shadow: 4px 4px 15px rgba(35, 37, 39, 0.9), -3px -3px 10px rgba(74, 78, 83, 0.7), inset -1px -1px 2px rgba(74, 78, 83, 0.5), inset 2px 2px 5px rgba(35, 37, 39, 0.8); 
}

.btn__outdent{
  background: #a4161a !important;

  box-shadow: -1px -1px 2px rgba(74, 78, 83, 0.5), 1px 1px 3px rgba(35, 37, 39, 0.8), 4px 4px 15px rgba(35, 37, 39, 0.9), -3px -3px 10px rgba(74, 78, 83, 0.7);

}

.center {
  display: flex;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.light {
  background-color: #2D3135 ;
}
.red{
  color: #a4161a;
}
.blue{
  color: #a4161a;
}
.blueBg{
  background-color: #a4161a;
}
.redBg{
  background-color: #a4161a;
}

.flex {
  display: flex !important;
}

.column {
  flex-direction: column !important;
}
.row {
  flex-direction: row !important;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.blink {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.border30 {
  cursor: pointer;
  border-radius: 30px;
  background-color: #292D34;
}
/* #endregion 🦔general css🦔*/
/* #region 🖥️media queries🖥️*/

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) { }
 
 
/* Small screens - MOBILE */
@media only screen { } /* Define mobile styles - Mobile First */
 
@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */
 
/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */
 
@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
 
/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
 
@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
 
/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */
 
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  
  div.steps__cont > img {
    width: 30px;
    height: 450px;
  }
  footer > h2 {
    padding: 0px 10px;
  }
  div.sec__header > img {
    margin: 0px 30px;
    width: 210px;
    height: 25px;
  }

  h2 {
    padding: 0px;
    margin: 10px 0px;
    font-size: 32px;
  }
  h3 {
    font-weight: bolder;
    font-size: 22px;
  }
  h4 {
    font-size: 22px;
  }
  h3,
  h4 {
    margin: 16px 0;
  }
  address {
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
  }

  .workbtn,
  .workbtnselected {
    font-size: 18px;
  }
  .nav__loc__container {
    margin-right: -10px;
    align-items: center;
    justify-content: flex-start;
    flex-flow: nowrap row;
    width: 160px;
  }
  .prbar {
    margin-bottom: 15px;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    border-radius: 15px;
  }

  .skillprbar {

    padding: 1%;
    font-weight: bold;
    text-align: right;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
  }

  .aboutme__card__frame {
    border-radius: 15px;
    height: 690px;
    width: 1110px;
  }

  .skills__lang {
    overflow: hidden;
    margin: 35px 0px;
    justify-content: center;
    text-align: center;
  }
  .skill__meter {
    border-radius: 15px;
    border: 0px outset #a4161a;
    width: 250px;
    height: 250px;
    margin: 0px 11px;
  }

  .services {
    margin: 10px 0px;
    justify-content: center;
    text-align: center;
  }
  .services__slice {
    padding-top: 5px;
    width: 425px;
    height: 305px;
    margin: 0px 6px;
  }
  .services__slice__title {
    margin: 5px;
    font-size: 36px;
    font-weight: bolder;
  }

  .workbtn {
    margin: 5px;
    width: 130px;
    height: 60px;
  }
  .workbtnselected {
    margin: 15px;
    width: 130px;
    height: 60px;
  }

  .slice__header {
    margin: 20px 0px;
    font-size: 26px;
    line-height: normal;
    font-weight: bold;
  }

  .steps {
    margin-top: 5px;
    flex-flow: nowrap column;
    align-items: center;
    margin: 10px;
    width: 250px;
    height: 450px;
  }
  .steps__cont {
    padding-top: 20px;
    width: 100%;
    justify-content: center;
  }
  .imgtxt__center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .txtcontainer {
    font-size: 64px;
    position: relative;
    text-align: center;
  }
  .wing {
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 50px;
    height: 320px;
    margin: 0px 15px;
  }

  .pad {
    margin: 0px 10px;
  }
  .padded {
    padding-right: 30px;
    text-align: start;
    width: 800px;
  }
  .adjust {
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
    margin-top: auto;
    transform: rotate(45deg);
    width: 140px;
    height: 140px;
  }

  .workexp__img {
    border-radius: 15px;
    text-align: center;
    justify-self: flex-start;
    width: 425px;
    height: 305px;
    margin: 0px 6px;
  }
  .upper {
    background-size: cover;
    background-image: url(/images/coffee.png);
  }
  .lower {
    background-size: cover;
    background-image: url(/images/garden.png);
  }

  .workexp {
    padding: 25px 0px;
  }
  .slice__content {
    padding: 0px 15px;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
  }
  .bgcircle {
    margin: 20px 0px;
    background-color: #2D3135;
    height: 150px;
    width: 150px;
    transition: all 0.3s;
  }

  .width__adjust {
    width: 60px;
    height: 60px;
  }
  div.bgcircle > * {
    width: 60%;
    height: auto;
  }
  .nav__icon__container {
    margin-right: 5px;
    align-items: center;
    justify-content: space-between;
    flex-flow: row-reverse nowrap;
    width: 190px;
    height: 34px;
  }

  #nav__arrow {
    background-color: #E7EBF0 ;
    margin-top: 25%;
    width: 8px;
    height: 70%;
    justify-content: space-between !important;
  }
  .contact__card__frame {
    border-radius: 300px 15px 15px 300px;
    height: 512px;
    width: 1110px;
  }

  .imgShadow{
    box-shadow: 0px 0px 30px 9px #a4161a;
  }

  .aboutme__card__img {
    border-left: 0px;
    border-radius: 5px 15px 15px 5px;
    width: 430px;
    height: 690px;
  }
  .contact__card__img {
    width: 550px;
    height: 550px;
  }
  .sec__header {
    font-size: 48px;
    font-weight: bolder;
    margin: 20px 0px;
  }

  .skills__header {
    font-size: 48px;
    justify-content: center;
    text-align: center;
  }
  .hand {
    margin: 0px 40px;
    width: 380px;
    height: 175px;
  }

  .skills__icon {
    height: 25px;
    width: 25px;
    margin: 5px;
    align-self: center;
    text-align: center;
  }
  .skills__btn {
    border-radius: 30px;
    margin: 5px;
    width: 130px;
    height: 60px;
  }
  .skills__btn2 {
    border-radius: 30px;
    margin: 5px;
    width: 130px;
    height: 60px;
  }

  .abtme__btn {
    background-color: #a4161a;
    margin: 15px;
    width: 260px;
    height: 44px;
  }

  .contact__card {
    padding-right: 40px;
    height: 512px;
    width: 852px;
    align-items: flex-start;
    justify-content: center;
  }

  .theme__btn__on,
  .lang__btn__on {
    background-color: #a4161a;
    cursor: pointer;
    justify-content: start !important;
    margin-top: 10%;
    width: 85px;
    height: 44px;
  }

  .nav__btn__home {
    margin-bottom: auto;
    width: 85px;
    height: 44px;
  }

  .nav__btn__circle {
    background-color: #2D3135;
    margin: auto 0px;
    width: 85px;
    height: 85px;
  }

  .nav__btn__kite {
    background-color: #2D3135;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin-top: auto;
    transform: rotate(45deg);

    width: 75px;
    height: 75px;
  }
 } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
 
/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
 
/*------------------------------------------*/
 
 
 
/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }
 
 
/* CSS for iPhone, iPad, and Retina Displays */
 
/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}
 
/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}
 
/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 
 
/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}
 
/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}
 
/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}

/*------------------------------------------
  Live demo samples
   - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/
/* #endregion */
