/* #region 🦔general css🦔*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#circle {
  width: 50rem;
  height: 38rem;
}
#nav__arrow {
  margin-top: 10%;
  width: 0.5rem;
  height: 70%;
  justify-content: space-between !important;
}
#line,
#line2 {
  margin: 0rem 0.4rem;
  width: 12rem;
}

p {
  font-weight: 100;
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
}

footer > h2 {
  padding: 0rem 0.625rem;
}

h1 {
  padding: 0rem;
  margin: 0.3125rem 0rem;
  font-size: 5rem;
}
h2 {
  margin: 0.3125rem 0rem;
  font-size: 1.5rem;
}
h3 {
  font-weight: bolder;
  font-size: 1rem;
}
h4 {
  padding-right: 0.1875rem;
  font-size: 1rem;
}
h3,
h4 {
  margin: 0.3rem 0rem;
}
address {
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 400;
}
section {
  padding: 30px 0px;
  padding-right: 140px;

  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}
footer {
  margin: 20px 0px;
  padding-right: 156px;
  flex-flow: wrap row;
}
nav {
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-height: 720px;
  width: 8.75rem;
  min-width: 104px;
  max-width: 150px;
  text-align: center;
  align-items: center;
}
section:first-of-type {
  padding: 0px 0px;
  padding-right: 130px;
  min-height: 100vh;
}
html {
  font-size: 12px;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family: "Shabnam", sans-serif;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  width: 100%;
}
span.skillprbar > span {
  margin-right: 10px;
}
div.steps__cont > img {
  width: 1.875rem;
  height: 28.125rem;
}
div.sec__header > img {
  margin: 0rem 1.875rem;
  width: 13.25rem;
  height: 1.5625rem;
}
h2.sec__header {
  font-size: 2rem;
}
div.steps > i {
  width: 130px !important;
  height: 130px !important;
}
h3.sec__header {
  margin: 1.2rem 0rem;
  font-weight: bolder;
  font-size: 2rem;
}

div.reset__transform > span.iconify,
.wing > a > .iconify {
  width: 55px;
  height: 55px;
}
div.skills__btn > span:only-of-type,
div.skills__btn2 > span:only-of-type {
  font-size: 16px;
}
div.workexp > p {
  padding: 0rem 3rem;
  width: 40rem;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
}
div.bgcircle > * {
  width: 60%;
  height: auto;
}
.abtme__btn.btn__indent:hover {
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.skill__meter:hover {
  width: 12rem;
  height: 15rem;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 0.9375rem;
}
.last:hover {
  width: 125px;
  height: 125px;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.services__slice:hover {
  padding-top: 0.3125rem;
  width: 20rem;
  height: 13rem;
  margin: 0rem 0.1rem;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.iconify:hover:not(div.steps > .iconify, .bgcircle
    > .iconify, .last, div.abtme__btn > *, *.btn__selector
    > *, .reset__transform > .iconify, .btn__selector
    > a
    > *.iconify, .skills__btn > *.iconify, .skills__btn2 > *.iconify) {
  border-radius: 10px;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.btn__selector {
  margin-right: 5px;
  height: 2rem;
  width: 2rem;
}

.nav__btn__circle {
  margin: auto 0rem;
  width: 4.7rem;
  height: 4.7rem;
}

.nav__btn__kite {
  cursor: pointer;
  border-radius: 0.625rem;
  margin-top: auto;
  font-size: 0.8rem;
  min-width: 4.5rem;
  min-height: 4.5rem;
}
.last {
  width: 120px;
  height: 120px;
}

.workbtn,
.workbtnselected {
  font-size: 1.125rem;
}
.nav__loc__container {
  margin-right: -0.1875rem;
  align-items: center;
  justify-content: flex-start;
  flex-flow: nowrap row;
  width: 7.5rem;
}
.prbar {
  margin-bottom: 0.9375rem;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  border-radius: 0.9375rem;
}

.skillprbar {
  align-self: flex-start;
  padding: 1%;
  font-weight: bold;
  text-align: right;
  font-size: 1.125rem;
  border-radius: 0rem 0.9375rem 0.9375rem 0rem;
}

.aboutme__card__frame {
  border-radius: 0.9375rem;
  height: 30rem;
  width: 50rem;
  border-radius: 0.9375rem;
}

.skills__lang {
  margin: 1.5 0rem;
  overflow: hidden;
  justify-content: center;
  text-align: center;
}
.skills__btn > *.iconify,
.skills__btn2 > *.iconify {
  width: 20px;
  height: 20px;
}

.nav__btn__home {
  margin-bottom: auto;
  width: 4.7rem;
  height: 2.5rem;
}

.slice__content {
  padding: 0rem 0.9375rem;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.875rem;
  text-align: center;
}
.steps {
  margin-top: 0.3125rem;
  margin: 0rem !important;
  width: 15.625rem;
  height: 28.125rem;
}
.services {
  margin: 0.625rem 0rem;
  justify-content: center;
  text-align: center;
}
.services__slice {
  padding-top: 0.3125rem;
  width: 18rem;
  height: 13rem;
  margin: 0rem 0.1rem;
}
.services__slice__title {
  margin: 0.3125rem;
  font-size: 1.4rem;
  font-weight: bolder;
}

.workbtn {
  margin: 0.3125rem;
  width: 8.125rem;
  height: 3.75rem;
}
.workbtnselected {
  margin: 0.9375rem;
  width: 8.125rem;
  height: 3.75rem;
}

.slice__header {
  margin: 1rem 0rem;
  font-size: 1.2rem;
  line-height: normal;
  font-weight: bold;
}

.steps {
  margin-top: 0.3125rem;
  flex-flow: nowrap column;
  align-items: center;
  margin: 0.625rem;
  width: 15.625rem;
  height: 28.125rem;
}
.steps__cont {
  padding-top: 1.25rem;
  width: 95%;
  justify-content: center;
}
.imgtxt__center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.txtcontainer {
  font-size: 4rem;
  position: relative;
  text-align: center;
}
.wing {
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 3.125rem;
  height: 20rem;
  margin: 0rem 0.9375rem;
}

.pad {
  margin: 0rem 0.625rem;
}

.adjust {
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 0.625rem;
  margin-top: auto;
  transform: rotate(45deg);
}

.workexp__img {
  border-radius: 0.9375rem;
  text-align: center;
  justify-self: flex-start;
  width: 26.5625rem;
  height: 19.0625rem;
  margin: 0rem 0.375rem;
}
.upper {
  background-size: cover;
  background-image: url(/images/coffee.png);
}
.lower {
  background-size: cover;
  background-image: url(/images/garden.png);
}

.workexp {
  padding: 1.5625rem 0rem;
}
.slice__content {
  padding: 0rem 0.9375rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.875rem;
  text-align: center;
}
.width__adjust {
  width: 3.75rem;
  height: 3.75rem;
}

.nav__icon__container {
  align-items: center;
  justify-content: space-between;
  flex-flow: row-reverse nowrap;
  width: 9.375rem;
  height: 2.125rem;
}
.contact__card__frame {
  border-radius: 18.75rem 0.9375rem 0.9375rem 18.75rem;
  height: 20rem;
  width: 51.25rem;
  max-width: 55rem;
}
.aboutme__card__img {
  border-left: 0rem;
  width: 20rem;
  height: 30rem;
  border-radius: 0.3125rem 0.9375rem 0.9375rem 0.3125rem;
}
.contact__card__img {
  width: 20rem;
  height: 20rem;
}
.sec__header {
  font-size: 3rem;
  font-weight: bolder;
  margin: 1rem 0rem;
}
.skills__header {
  font-size: 3rem;
  justify-content: center;
  text-align: center;
}
.hand {
  margin: 0rem 0.3rem;
  width: 20vw;
  height: 13vh;
}
.skills__icon {
  height: 1.5625rem;
  width: 1.5625rem;
  margin: 0.3125rem 0.2rem;
  align-self: center;
  text-align: center;
}
.skills__btn2,
.skills__btn {
  width: 85px;
  height: 38px;
  margin: 0px 3px;
  font-size: 0.6rem;
  border-radius: 1.875rem;
}

.abtme__btn {
  margin: 0rem 0.5rem;
  margin-top: 1rem;
  width: 12rem;
  height: 2.5rem;
}

.contact__card {
  padding-right: 2.5rem;
  height: 16.25rem;
  width: 51.5625rem;
  align-items: flex-start;
  justify-content: center;
}

.theme__btn__on,
.lang__btn__on {
  cursor: pointer;
  margin-top: 10%;
  width: 4.7rem;
  height: 2.5rem;
}
.justifystart{
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  justify-content: start !important;

}
.justifyend{
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  justify-content: end !important;

}
.justify {
  line-height: 28px;
  text-align: justify;
  text-justify: inter-word;
}
.aboutme__card {
  padding: 3px 22px;
  height: 30rem;
  width: 30rem;
  align-items: center;
}
.logo {
  margin-top: 0.625rem;
  width: 100%;
}
.nobrightness {
  filter: brightness(0%);
}
.flip {
  transform: rotate(180deg);
  transform: rotateY(180deg);
}
.steps:hover {
  padding: 2% 2%;
  border-radius: 0.9375rem;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.circle__border {
  cursor: pointer;
  border-radius: 50%;
}

.skill__meter {
  width: 8rem;
  height: 15rem;
  border-radius: 0.9375rem;
  margin: 0rem 0.6875rem;
}
.iconify:not(div.steps > .iconify, .wing > a > .iconify, div.reset__transform
    > .iconify, div.bgcircle > .iconify, .btn__selector
    > a
    > *.iconify, .skills__btn > *.iconify, .skills__btn2
    > *.iconify, .services__slice > *.iconify) {
  padding: 1%;
  width: 1.875rem;
  height: 1.875rem;
}
.bgcircle {
  height: 7rem;
  width: 7rem;
  margin: 1.25rem 1.25rem;
  transition: all 0.3s;
}
.tr {
  background-size: cover;

  background-image: url(/images/slice3.png);
  border-radius: 5px 80px 5px 5px;
}
.tl {
  background-size: cover;

  background-image: url(/images/slice1.png);
  border-radius: 80px 5px 5px 5px;
}
.br {
  background-size: cover;

  background-image: url(/images/slice6.png);
  border-radius: 5px 5px 80px 5px;
}
.bl {
  background-size: cover;

  background-image: url(/images/slice4.png);
  border-radius: 5px 5px 5px 80px;
}
.um {
  background-size: cover;

  background-image: url(/images/slice2.png);
}
.lm {
  background-size: cover;

  background-image: url(/images/slice5.png);
}
.smooth {
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.reset__transform {
  transform: rotate(-45deg);
}

.arched2 {
  margin-right: -1.875rem;
}
.arched3 {
  margin-right: -3.125rem;
}
.arched4 {
  margin-left: -1.875rem;
}
.center {
  display: flex;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.flex {
  display: flex !important;
}

.column {
  flex-direction: column !important;
}
.row {
  flex-direction: row !important;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.blink {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.border30 {
  cursor: pointer;
  border-radius: 1.875rem;
}
/* #endregion 🦔general css🦔*/

/* #region 🖥️media queries🖥️*/
/*------------------------------------------
    Responsive Grid Media Queries - 1280, 1024, 768, 480
     1280-1024   - desktop (default grid)
     1024-768    - tablet landscape
     768-480     - tablet 
     480-less    - phone landscape & smaller
  --------------------------------------------*/

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}

/*------------------------------------------
    Foundation Media Queries 
     http://foundation.zurb.com/docs/media-queries.html
  --------------------------------------------*/

/* Small screens - MOBILE */
@media only screen {
} /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media all and (min-width: 1024px) {
  html {
    font-size: 16px !important;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    font-size: 20px !important;
  }
  p {
    font-size: 1.2rem;
  }
  .hand {
    margin: 0rem 0.3rem;
    width: 20vw;
    height: 16vh;
  }

  .skills__btn > *.iconify,
  .skills__btn2 > *.iconify {
    width: 25px;
    height: 25px;
  }

  .skills__btn,
  .skills__btn2 {
    width: 115px;
    height: 55px;
    margin: 0px 3px;
    font-size: 0.8rem;
  }
  .theme__btn__on,
  .lang__btn__on {
    width: 4rem;
    height: 2.3rem;
  }
  .wing > a > .iconify {
    width: 65px;
    height: 65px;
  }
  .nav__btn__home {
    font-weight: bolder;
    font-size: 0.8rem;
    width: 4rem;
    height: 2.3rem;
  }

  .nav__btn__circle {
    font-weight: bolder;
    font-size: 0.8rem;
    width: 4.1rem;
    height: 4.1rem;
  }

  .nav__btn__kite {
    font-weight: bolder;
    font-size: 0.75rem;
    min-width: 74px;
    min-height: 74px;
  }
  .btn__selector {
    margin: 0px 5px;
    height: 1.7rem;
    width: 1.7rem;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 24px !important;
  }
  p {
    line-height: 1.22;
    font-size: 1.25rem;
  }
  .aboutme__card {
    padding: 0.5rem 1.5rem;
  }
  .hand {
    margin: 0rem 0.3rem;
    width: 21vw;
    height: 14vh;
  }
  .btn__selector > * > *.iconify {
    width: 33px;
    height: 33px;
  }
  .skills__btn > *.iconify,
  .skills__btn2 > *.iconify {
    width: 40px;
    height: 40px;
  }
  .skills__btn,
  .skills__btn2 {
    width: 145px;
    height: 65px;
    margin: 0px 3px;
    font-size: 0.8rem;
  }

  .nav__btn__kite {
    font-weight: bolder;
    font-size: 0.75rem;
    min-width: 98px;
    min-height: 98px;
  }
  .wing > a > .iconify {
    width: 70px;
    height: 70px;
  }
  .last {
    width: 160px;
    height: 160px;
  }
  .last:hover {
    width: 165px;
    height: 165px;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 28px !important;
  }
  section {
    padding-right: 180px !important;
  }
  nav {
    padding-right: 15px;
  }
  footer {
    padding-right: 220px !important;
  }
  .wing > a > .iconify {
    width: 80px;
    height: 80px;
  }
  .skills__icon {
    height: 45px !important;
    width: 45px !important;
  }
  .hand {
    margin: 0rem 0.3rem;
    width: 20vw;
    height: 16vh;
  }
  .logo {
    width: 130%;
  }
  .nav__btn__home {
    font-weight: bolder;
    font-size: 0.8rem;
    width: 3.8rem;
    height: 2.3rem;
  }

  .nav__btn__circle {
    font-weight: bolder;
    font-size: 0.8rem;
    width: 3.8rem;
    height: 3.8rem;
  }
  .nav__btn__kite {
    min-width: 106px;
    min-height: 106px;
  }
  .skills__btn,
  .skills__btn2 {
    width: 180px;
    height: 70px;
    margin: 0px 3px;
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 2048px) {
  html {
    font-size: 30px !important;
  }
  .hand {
    width: 18vw;
    height: 16vh;
  }
  .skills__btn,
  .skills__btn2 {
    width: 175px;
    height: 65px;
    margin: 0px 3px;
    font-size: 0.8rem;
  }
  .wing > a > .iconify {
    width: 85px;
    height: 85px;
  }
}
@media only screen and (min-width: 2560px) {
  html {
    font-size: 36px !important;
  }
  nav {
    padding-right: 15px;
  }
  section {
    padding-right: 180px !important;
  }
  footer {
    padding-right: 240px !important;
  }
  .hand {
    margin: 0rem 0.3rem;
    width: 21vw;
    height: 17vh;
  }
  .logo {
    margin-top: 0.625rem;
    width: 140%;
  }
  .nav__btn__kite {
    font-size: 0.75rem;
    min-width: 147px;
    min-height: 147px;
  }
  .skills__btn,
  .skills__btn2 {
    width: 195px;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 3840px) {
  html {
    font-size: 52px !important;
  }
  nav {
    max-width: 400px;
    padding-right: 20px;
  }
  section {
    padding-right: 420px !important;
  }
  footer {
    padding-right: 490px !important;
  }
  .hand {
    margin: 0rem 0.3rem;
    width: 21vw;
    height: 17vh;
  }

  .nav__btn__kite {
    min-width: 211px;
    min-height: 211px;
  }
  .skills__icon {
    height: 85px !important;
    width: 85px !important;
  }
  .skills__btn,
  .skills__btn2 {
    width: 320px;
    height: 120px;
    margin: 0px 15px;
    font-size: 0.9rem;
  }

  .wing > a > .iconify {
    width: 140px;
    height: 140px;
  }
  .btn__selector > * > *.iconify {
    width: 60px;
    height: 60px;
  }
  .last {
    width: 260px;
    height: 260px;
  }
  .last:hover {
    width: 275px;
    height: 275px;
  }
  *.reset__transform > *.iconify {
    width: 180px !important;
    height: 180px !important;
  }
}
@media only screen and (min-width: 4096px) {
  html {
    font-size: 58px !important;
  }

  footer {
    padding-right: 520px !important;
  }

  .wing > a > .iconify {
    width: 150px;
    height: 150px;
  }
  .btn__selector > * > *.iconify {
    width: 70px;
    height: 70px;
  }
  .last {
    width: 300px;
    height: 300px;
  }
  .last:hover {
    width: 320px;
    height: 320px;
  }
  *.reset__transform > *.iconify {
    width: 200px !important;
    height: 200px !important;
  }
}
/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}
/*------------------------------------------
    Live demo samples
     - http://andrelion.github.io/mediaquery/livedemo.html
  --------------------------------------------*/
/* #endregion */
