:root {
  --bruh: #000;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*? change color when mouse selects text */
::selection {
  background-color: black;
  color: #fff;
}

.center {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

#amir {
  color: green;
}

.n1k {
  flex: auto;
  min-width: 500px;
  max-width: 1920px;
  flex-flow: row wrap;
  color: crimson;
}

header,
footer {
  border: 5px solid goldenrod;
  border-radius: 10px;
}

body {
  font-size: 12px;
  background-color: darkslategray;
}

a:link,
a:visited,
a:active,
a {
  text-decoration: none;
  color: black;
}
div > #bruh:hover {
  color: red;
}
div.parent {
  background-color: #0074d9;
  text-align: center;
  width: 300px;
  height: 200px;
  margin: 10px auto;
  padding: 1px;
  position: relative;
}
div.child {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
h2 {
  color: var(--bruh);
}
