/*? universal selector for website wide styling */
* {
  font-size: 12px;
}
/*? change color when mouse selects text */
::selection {
  background-color: black;
  color: #fff;
}
/*? using class selector */
.center {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

/*? id selector */
#amir {
  color: green;
}

/*? class selector */
.n1k {
  color: crimson;
}

/*? multiple selectors */
header,
footer {
  border: 5px solid goldenrod;
  border-radius: 10px;
}

/*? single selector */
body {
  background-color: darkslategray;
}

a:link,
a:visited,
a:active,
a {
  text-decoration: none;
  color: black;
}
div > #bruh:hover {
  color: red;
}
div.parent {
  background-color: #0074d9;
  text-align: center;
  width: 300px;
  height: 200px;
  margin: 10px auto;
  padding: 1px;
  position: relative;
}
div.child {
  background-color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
h2 {
  color: #fff;
}
