 /* #region ✋normalize✋*/
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  width: 1920px;
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */

main {
  position: fixed;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  
  font-size: 108px;
  margin: 0 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  color: #EEEEEE;
  text-decoration: none;
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* #endregion */
/* #region 🦔general css🦔*/

@keyframes blink {  
  0% { opacity: 1.0; }
  25% { opacity: 0.5; }
  50% { opacity: 0.0; }
  75% { opacity: 0.5; }
  100% { opacity: 1.0; }
 }

section:first-of-type
  {
  padding: 0px 170px;
  min-height: 1080px;
  }
  html {
    scroll-behavior: smooth;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-family: 'Shabnam', sans-serif;
    color: #fff;
    height: 2160px;
    background-color: #2d3135;
    box-sizing: border-box;
  }
  html, body {
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    width: 100%;
  }
  section{
    padding: 4% 170px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;

  }
  footer{
    margin: 20px 170px;
    flex-flow: wrap row;
  }

  nav{
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 800px;
    width: 170px;
    min-width: 104px;
    text-align: center;
    align-items: center;
  }
  span.skillprbar>span{
    margin-right: 20px;
  }
  p{
    padding: 0px;
    margin: 0px;
  }
nav >div.nav__arrow> div.nav__btn__circle:hover ,nav >div.nav__arrow> div.nav__btn__kite:hover,nav >div.nav__arrow> div.nav__btn__home:hover, .skills__btn2:hover, .workbtn:hover{
  padding: 5px;
  background-color: #A4161A !important ;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
span.last:hover {
  border: 5px solid rgba(238, 238, 238, 1)!important;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
div.skills__btn>span:only-of-type,div.skills__btn2>span:only-of-type{
  font-size: 16px;
}
.btn__selector{
  margin-right: 5px;
  box-shadow: 3.73381px 3.73381px 6.22302px rgba(0, 0, 0, 0.5);
  height: 38px;
  width: 38px;
}
.justify{
  line-height: 28px;
  text-align: justify;
  text-justify: inter-word;
}
.aboutme__card{
  padding-right: 40px;
  padding-left: 40px;
  height: 580px;
  width: 852px;
  align-items: center;

}
.logo{
  margin-top: 10px;
  width: 100%;
}
.flip{
  transform: rotate(180deg);
  transform: rotateY(180deg);
}

.iconify:hover:not(.last) {
  background-color: rgba(238, 238, 238, .15) !important ;
  border-radius: 10px;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.steps:hover{
  padding: 2% 2%;
  border-radius: 15px;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.services__slice:hover{
  padding: 1% 10%;
  border: 5px outset rgba(164, 22, 26, .6)!important;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
.circle__border{
  border-radius: 50%;
}
.btn__activedark{
  background: #A4161A;
}
.btn__deactivedark{
  background-color: #2d3135;

}
.skill__meter:hover{
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  border: 15px outset rgba(164, 22, 26, 1);
  border-radius: 15px;
  box-shadow:
  -2px -2px 2px rgba(74, 78, 83, 0.5),
  2px 2px 3px rgba(35, 37, 39, 0.8),
  8px 8px 15px rgba(35, 37, 39, 0.9),
  -6px -6px 10px rgba(74, 78, 83, 0.7);
}
.iconify{
  padding: 2%;
  color: #a4161a;
}
.tr{
  background-size: cover;

  background-image: url(/images/slice3.png);
  border-radius: 5px 80px 5px 5px;
}
.tl{
  background-size: cover;

  background-image: url(/images/slice1.png);
  border-radius: 80px 5px 5px 5px;
}
.br{
  background-size: cover;

  background-image: url(/images/slice6.png);
  border-radius: 5px 5px 80px 5px;
}
.bl{
  background-size: cover;

  background-image: url(/images/slice4.png);
  border-radius: 5px 5px 5px 80px;
}
.um{
  background-size: cover;

  background-image: url(/images/slice2.png);
}
.lm{
  background-size: cover;

  background-image: url(/images/slice5.png);
}
.smooth{
  transition: all 0.3s;
    transition-timing-function: ease-in-out;
}
.reset__transform{
  transform: rotate(-45deg);
}

.arched2{
  margin-right: -30px;
}
.arched3{
margin-right: -50px;

}
.arched4{
  margin-left: -30px;
}
  .indentdark{
    box-shadow: 
    4px 4px 15px rgba(35, 37, 39, 0.9),
    -3px -3px 10px rgba(74, 78, 83, 0.7),
    inset -2px -2px 2px rgba(74, 78, 83, 0.5),
    inset 2px 2px 5px rgba(35, 37, 39, 0.8);
  }

  .outdentdark{
    box-shadow:
    -2px -2px 2px rgba(74, 78, 83, 0.5),
    2px 2px 3px rgba(35, 37, 39, 0.8),
    8px 8px 15px rgba(35, 37, 39, 0.9),
    -6px -6px 10px rgba(74, 78, 83, 0.7);
  }
  
.center{
  display: flex;
  justify-self: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.dark{
  background: #2D3135 !important;
}
.eee{
  color: #EEE !important;
}
.flex{
  display: flex !important;
}

.column{
  flex-direction: column !important;
}
.row{
  flex-direction: row !important;
}
.wrap{
  flex-wrap: wrap;
}
.nowrap{
  flex-wrap: nowrap;
}
.blink {
  animation-name: blink;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
 }
 .border30{
  border-radius: 30px;
}
/* #endregion 🦔general css🦔*/
/* #region 🖥️media queries🖥️*/
@media screen and (min-width: 1366px) {
  html{background-color: cyan;}
  
  }
@media screen and (min-width: 1600px) {
  html{background-color: #a4161a;}
  }
  
  @media only screen 
  and (min-device-width: 1920px) 
  and (orientation: landscape){
  html{background-color: #2d3135;}
  div.steps__cont>img{
    width: 30px;
    height: 450px;
  }
  footer>h2{
    margin: 0px 10px;
    color: #A4161A;
  }
  div.sec__header>img{
    margin: 0px 30px;
      width: 210px;
      height: 25px;
  }
  
  h2{
    padding: 0px;
    margin: 10px;
    font-size: 32px;
  }
  h4{
    font-size:22px;
  }
  h3,h4{
    margin: 16px 0;
  }
  address{font-style: normal; font-size: 15px; font-weight: 400;}

  h3{
    font-weight: bolder;
    font-size: 22px;
  
  }
  #worksbtn{
    font-size: 16px;
  }
  .nav__loc__container{
    margin-right: -10px;
    align-items: center;
    justify-content: flex-start;
    flex-flow: nowrap row;
    width: 160px;
  }
  .prbar {
    margin-bottom: 15px;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    border-radius: 15px;
  }

.skillprbar {

    background-color: #A4161A;
    padding: 1%;
    font-weight: bold;
    text-align: right;
    font-size: 18px;
     border-radius: 0px 15px 15px 0px;
  }
  
  .aboutme__card__frame{
    border-radius: 15px;
    height: 690px;
    width: 1110px;

  }
  
  .skills__lang{
    overflow: hidden;
    margin: 35px 0px;
  justify-content: center;
  text-align: center;

  }
  .skill__meter{
    border-radius: 15px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    border: 0px outset #a4161a;
    transition: ease-in-out 0.3s;
    text-align: center;
    justify-self: center;
    width: 250px;
    height: 250px;
    margin: 0px 11px;
  }


  .services{
    margin: 10px 0px;
  justify-content: center;
  text-align: center;
  }
  .services__slice{
    padding-top: 5px;
    width: 425px;
    height: 305px;
    margin: 0px 6px;
  }
  .services__slice__title{
    margin: 5px;
    font-size: 36px;
    font-weight: bolder;
  }

  .workbtn{
    margin: 5px;
    width: 130px;
    height: 60px;
  }
  .workbtnselected{
    margin: 15px;
    width: 130px;
    height: 60px;
  }

.slice__header{
  margin: 20px 0px;
  font-size: 26px;
  line-height: normal;
  font-weight: bold;
}

  .steps{
    
    margin-top: 5px;
    flex-flow: nowrap column;
    align-items: center;
    margin: 10px;
    width: 250px;
    height: 450px;
  }
  .steps__cont{
    padding-top: 20px;
    width: 100%;
    justify-content: center;
  }
  .imgtxt__center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .txtcontainer{
    font-size: 64px;
    position: relative;
    text-align: center;
  }
  .wing{
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 50px;
    height: 320px;
    margin: 0px 15px;
  }

  .pad{
    margin: 0px 10px;
  }
  .padded{
    padding-right: 30px;
    text-align: start;
    width: 800px;
  }
  .adjust{
    border-radius: 10px;
    margin-top: auto;
    transform: rotate(45deg);
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
  }

  .workexp__img{

    border-radius: 15px;
    text-align: center;
    justify-self: flex-start;
    width: 425px;
    height: 305px;
    margin: 0px 6px;
  }
  .upper{
    background-size: cover;
    background-image: url(/images/coffee.png);
  }
  .lower{
    
    background-size: cover;
    background-image: url(/images/garden.png);
  }

  .workexp{
    padding: 25px 0px;

  }
  .slice__content{
    padding: 0px 15px;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
  }

  .bgcircle{
  margin-bottom: 25px;
    height: 160px;
    width: 160px;
    transition: all 0.3s;
  }

  .width__adjust{
    width:60px;
    height:60px;
  }
div.bgcircle> *{
    width: 60%;
    height: auto;
  }
  .nav__icon__container{
    margin-right: 5px;
    align-items: center;
    justify-content: space-between;
    flex-flow: row-reverse nowrap;
    width: 190px;
    height: 34px;
  }


  .nav__arrow{
    margin-top: 25%;
    background-color: #EEEEEE;
    width: 8px  ;
    height: 70%;
justify-content: space-between !important;

  }
  .contact__card__frame{
    
    border-radius: 300px 15px 15px 300px;
    height: 512px;
    width: 1110px;
  }
  
  .aboutme__card__img{
    
    border-left: 0px;
    box-shadow: 0px 0px 30px 9px #A4161A;
    border-radius: 5px 15px 15px 5px;
    width: 430px;
    height: 690px;
  }
  .contact__card__img{
    box-shadow: 0px 0px 30px 9px #A4161A;
    width: 550px;
    height: 550px;
  }
.sec__header{
  font-size: 48px;
font-weight: bolder;
margin: 20px 0px;
}

  .skills__header{

    font-size: 48px;
    justify-content: center;
    text-align: center;
  }
  .hand{
    margin: 0px 40px;
    width: 380px;
    height: 175px;
}

.skills__icon{
  height: 25px;
  width: 25px;
  margin: 5px;
  align-self: center;
  text-align: center;
}
.skills__btn{
  border-radius: 30px;
  margin: 5px;
  width: 130px;
  height: 60px;
}
.skills__btn2{
  border-radius: 30px;
  margin: 5px;
  width: 130px;
  height: 60px;
}

  .abtme__btn{
    margin: 15px;
    width: 260px;
    height: 44px;
  }
  

  .contact__card{
    padding-right: 40px;
    height: 512px;
    width: 852px;
    align-items: flex-start;
    justify-content: center;
    
  }
  

  .theme__btn__on, .lang__btn__on{
    justify-content: start !important;
    margin-top: 10%;
    width: 85px;
    height: 44px;
  }

  .nav__btn__home{
    margin-bottom: auto;
    width: 85px;
    height: 44px;
  }

  .nav__btn__circle{
    margin: auto 0px;
    width: 85px;
    height: 85px;
  }

  .nav__btn__kite{
    border-radius: 10px;
    margin-top: auto;
    transform: rotate(45deg);
    width: 75px;
    height: 75px;
  }
  
}
/* #endregion */