body{
    background-color: #221222;
}
.skills__header{
    display: flex;
    flex-direction: row;
    font-size: 48px;
    color: #eee;
    justify-content: center;
    text-align: center;

}
.hand{
    margin: 0px 73px;
    width: 380px;
    height: 175px;
    border: 5px solid red;
}
.skills__header2{
    margin-top: 40px;
}