@media (max-width: 1023px) or (orientation: landscape) {

  .btn__selector {
    background-blend-mode: soft-light, normal;
    -webkit-box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
            box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
  }
}
@media all and (min-width: 1024px) {
  .btn__selector {
    margin: 0px 5px;
    background-color: #e7ebf0 !important;
  }
}

nav {
  border-color: #25cede;
}
a.btn__circle:hover,
a.btn__kite:hover,
a.btn__home:hover,
.workbtn:hover,
.skills__btn:hover,
.bgcircle:hover,
a.btn__circle:active,
a.btn__kite:active,
a.btn__home:active,
.workbtn:active,
.skills__btn:active,
.bgcircle:active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;

  background: -o-linear-gradient(
      132.3deg,
      rgba(37, 206, 222, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #25cede;

  background: linear-gradient(
      317.7deg,
      rgba(37, 206, 222, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #25cede;

  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
          box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
}

.last:hover {
  border: 5px solid #292d34;
}

.abtme__btn.indent:hover {
  background: -o-linear-gradient(
      132.3deg,
      rgba(37, 206, 222, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #25cede;
  background: linear-gradient(
      317.7deg,
      rgba(37, 206, 222, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #25cede;

  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
          box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
}

.iconify:hover:not(div.steps > .iconify, .bgcircle
    > .iconify, .last, div.abtme__btn > *, *.btn__selector
    > *, .reset__transform > .iconify, .btn__selector
    > a
    > *.iconify, .skills__btn > *.iconify) {
  background-color: rgba(17, 17, 17, 0.15) !important ;
}

.services__slice:hover {
  border: 4px outset RGBA(37, 206, 222, 0.6);
}

.skill__meter {
  border: 0rem outset #25cede;
}

.bgcircle {
  background-color: #e7ebf0;
}

#nav__arrow {
  background-color: #2d3135;
}

.imgShadow {
  -webkit-box-shadow: 0rem 0rem 1.875rem 0.5625rem #25cede;
          box-shadow: 0rem 0rem 1.875rem 0.5625rem #25cede;
}

.btn__circle {
  background-color: #e7ebf0;
}

.btn__kite {
  background-color: #e7ebf0;
}

.btn__selector {
  background-color: #e7ebf0;
  -webkit-box-shadow: 3.73381px 3.73381px 6.22302px rgba(0, 0, 0, 0.5);
          box-shadow: 3.73381px 3.73381px 6.22302px rgba(0, 0, 0, 0.5);
}

.indent {
  border: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset -2.5px -2.5px 5px #fafbff, inset 2.5px 2.5px 5px #a6abbd;
          box-shadow: inset -2.5px -2.5px 5px #fafbff, inset 2.5px 2.5px 5px #a6abbd;
}

.outdent {
  background: -o-linear-gradient(
      132.3deg,
      rgba(37, 206, 222, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #25cede;
  background: linear-gradient(
      317.7deg,
      rgba(37, 206, 222, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 105.18%
    ),
    #25cede;
  background-blend-mode: soft-light, normal;
  -webkit-box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
          box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
}
.theme__btn__on,
.lang__btn__on {
  background-color: #25cede;
}
.bgcolor {
  background-color: #e7ebf0;
}

.fgcolor {
  color: #25cede;
}
.blueBg {
  background-color: #25cede !important;
}
.redBg {
  background-color: #a4161a;
}
.txt__color {
  color: #292d34;
}
